*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 200px;
    text-align: center;
}
nav > ul {
    display: flex;
    height: 90px;
    text-align: center;
}
nav label li{
    list-style: none;
    margin: 30px;
}
nav a {
    text-decoration: none;
    color: #474747;
    text-align: center;
}
nav button {
    margin-top: -10px;
    padding: 10px 14px 8px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: larger;
    color: black;
    font-weight: 500;
    border-style: none;
}
.nav-title{
color: var(--dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 10px;
}
.zoom-color{
    color: #FD6E0A;
}